.postbox {
	border:1px solid #CCC;
}

.postbox-placeholder {
    line-height: 75px;
    background-color: #EEE;
    text-transform: uppercase;
    text-align: center;
    display: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
}

.postbox-placeholder:hover {
    background-color: #ddd;
    cursor: pointer;
}

.postbox textarea {
	border: none;
	height: 25px;
	resize: none;
	width: 98%;
	background: #FFF;
}

.pulse-form-textarea {
	margin: 0 0 5px;
}

.pulse-shorten-url {
	text-align: right;
    padding: 0 5px;
    height: 5px;
    position: relative;
    bottom: 12px;
}

.pulse-shorten-url a,
.pulse-shorten-url a:visited {
	color: #AAA;
	font-size: 12px;
	text-decoration: none;
	line-height: 20px;
}

.pulse-shorten-url a:hover {
	color: #666;
}

.pulse-form-counter {
	font: bold 16px sans-serif;
	color: #AAA;
}

.pulse-form-counter.warning {
	color: #666;
}

.pulse-form-counter.exceeded {
	color: red;
}

.pulse-form-submit-wrap {
	float: right;
	margin-right: 5px;
	margin-top: -25px;
	position: relative;
	z-index: 1;
}

#submit-pulse.disabled {
	color: #CCC;
	cursor: not-allowed;
}

.pulse-form .postbox ::-webkit-input-placeholder {
	color:#AAA;
}

.pulse-form .postbox :-moz-placeholder {
	color:#AAA;
}

.pulse-display-shell {
	padding: 2px 5px;
	color: #AAA;
}

.pulse-form textarea:focus,
.pulse-form input:focus {
    outline: none;
}

.pulse-form .pulse-tags-shell {
    margin-left: 2px;
    padding-left: 20px;
    background: url(../img/sprite.gif) no-repeat 0 -65px;
}

.pulse-form .pulse-author-shell {
    margin-left: 4px;
}

.pulse-form .pulse-author-shell img {
    margin-bottom: -2px;
}

.pulse-form .clear {
	clear:both;
}
	
/* Sticky Notification */

.pulse-form .pulse-alert {
	background: rgba(0, 0, 0, 0.75);
	color: #FFF;
	font-size: 16px;
	text-align: center;
	visibility: visible; 
	border-radius: 2px;
	display: block; 
	top: 100px;
	left: 50%; 
	margin-left: -260px; 
	width: 520px; 
	position: fixed;
	z-index: 41; 
	padding: 30px; 
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* Tag box */
.pulse-form .tagbox {
	background: #fff;
	cursor: text;
	overflow: hidden;
	padding: 0 0 1px 3px;
	min-height: 28px;
	margin: 0;
	padding: 0 2px;
}

.pulse-form .tagbox li {
	margin: 0;
	padding: 0;
}

.pulse-form .tagbox li.tag {
	float: left;
	line-height: 1;
	padding: 3px 16px 3px 3px;
	margin: 3px;
	position: relative;
	display: block;
	list-style-type: none;
	
	background: #EEE;
	border: 1px solid #D0D0D0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.pulse-form .tagbox li.input {
	display: block;
	float: left;
}

.pulse-form .tagbox input:focus {
	border-color: #fff;
}

.pulse-form .tagbox .input input {
	width: 150px;
	margin: 2px 0;
	border: 0;
	outline: 0;
	line-height: 1.2;
	padding: 3px 0;
	font-size: 12px;
}

.pulse-form .tagbox a.close {
	position: absolute;
	right: 4px;
	top: 5px;
	display: block;
	text-indent: -9999px;
	cursor: pointer;
	width: 7px;
	height: 7px;
	font-size: 1px;
	background: url(../img/sprite.gif);
}

.pulse-form .tagbox a.close:hover {
	background-position: 0 -7px;
}

/* Autocomplete */
.ui-autocomplete {
	border: 1px solid #ddd;
	background: #fff;
	list-style: none;
	position: absolute;
	cursor: default;
	padding: 0;
	z-index: 10000;
}

.ui-autocomplete li {
	margin: 0;
	list-style: none;
	padding: 0;
	line-height: 20px;
}
.ui-autocomplete li img{
	vertical-align: middle;
}

.ui-autocomplete li a {
	display: block;
	padding: 4px;
}

.ui-autocomplete li a.ui-state-hover,
.ui-autocomplete li a:hover {
	background: #eee;
}

* html .ui-autocomplete {
	width: 1px;
}

/* Tabs: from jquery ui tabs */
.pulse-tabs {
	border-top: 1px dotted #CCC;
	position: relative; /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: 0;
	zoom: 1;
}

.pulse-tabs .pulse-tablist {
	margin: 0 !important;
	padding: 0;
	background: #EEE;
	height: 27px;
}

.pulse-tabs .pulse-tablist li {
    /*
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	*/
	padding: 0;
    /*
	white-space: nowrap;
	*/
}

.pulse-tablist li a {
	float: left;
	padding: 3px 10px;
	text-decoration: none;
	color: #999;
	background: url(../img/sprite.gif) no-repeat;
}

.pulse-tablist li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li a:hover {
	color: #333;
}

.pulse-tablist li.ui-tabs-selected {
	margin-bottom: 0;
	padding-bottom: 1px;
}

.pulse-tablist li.ui-tabs-selected a,
.pulse-tablist li.ui-state-disabled a,
.pulse-tablist li.ui-state-processing a {
	cursor: text;
}

.pulse-tablist li a,
.pulse-tabs.ui-tabs-collapsible .pulse-tablist li.ui-tabs-selected a {
	cursor: pointer;
}

.pulse-tabs .ui-tabs-panel {
	display: block;
	border: none;
	padding: 0;
	background: none;
}

.pulse-tabs .ui-tabs-hide {
	display: none !important;
}

.pulse-tablist .pulse-tabs-tags {
	background-position: 2px -62px;
	padding-left: 20px;
}

.pulse-tablist li.ui-tabs-selected .pulse-tabs-tags,
.pulse-tablist .pulse-tabs-tags:hover {
	background-position: 2px -26px;
}

.pulse-tablist .pulse-tabs-author {
	background-position: -1px -136px;
	padding-left: 20px;
}

.pulse-tablist li.ui-tabs-selected .pulse-tabs-author,
.pulse-tablist .pulse-tabs-author:hover {
	background-position: -1px -99px;
}