.pulse-cpt-title {
    display: none;
}

/* Pulse */
.pulse {
	margin: 0 5px;
    font-size: 13.5px;
	position: relative;
}

.pulse-list.compact .pulse {
    height: 90px;
}

.pulse-list .pulse-inner {
    width: 100%;
	border: 1px solid white;
	border-bottom-color: #ECECEC;
    background: white;
	padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.pulse-list .pulse-content {
    word-wrap: break-word;
    padding-bottom: 3px;
}

.pulse-list.compact .pulse-content {
    height: 50px;
    min-height: 50px;
    overflow: hidden;
}

.pulse-wrap p {
    margin-bottom: 0;
}

.pulse-list .pulse-content .evaluate-metrics-wrapper {
    display: none;
}

.pulse-list .pulse-margin {
	margin-left: 36px;
}

.pulse-list .pulse-nomargin {
	margin-left: -36px;
}

.widget_pulse_cpt .pulse-wrap ul {
	margin: 0;
}

.pulse .pulse .reply-to {
    display: none !important;
}

.pulse-replies {
    margin-left: 5px;
}

.pulse.expand > .pulse-inner > .pulse-wrap > .pulse-expand-content {
	display: block;
    width: 100%;
}

.pulse-list .pulse-expand-content {
	display: none;
}

.pulse-actions ul li,
.pulse-tags li {
	list-style: none;
	display: inline;
	font-size: 11px;
    line-height: 19px;
}

.pulse-wrap > *:not(.pulse-content) a,
.pulse-author a {
	text-decoration: none;
}


/* Pulse Mini View */
body.author .pulse {
    height: 34px;
}

body:not(.author) .pulse-mini {
    display: none !important;
}

body:not(.author) .pulse-wrap {
    display: block !important;
}

.pulse-mini {
    width: 100%;
    font-size: smaller;
}

.pulse-mini a {
    text-decoration: none;
}

.pulse-mini p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 8px;
    margin: 0;
    font-size: larger;
}

.pulse-mini br,
.pulse-mini .evaluate-metrics-wrapper {
    display: none;
}

.pulse-mini .reply-to {
    float: right;
}


/* Expanded */
.pulse-list .pulse:not(.expand):not(:hover) .visible-expanded,
.pulse-list.compact .pulse:not(.expand):not(:hover) .hidden-collapsed,
.pulse-list.compact .pulse:not(.expand):not(:hover) .visible-hover,
.pulse-list.compact .pulse:not(:hover).expand .hidden-expanded,
.pulse-list.compact .pulse:not(:hover).expand .visible-collapsed,
.pulse-list.compact .pulse:not(:hover).expand .visible-hover,
.pulse-list.compact .pulse:not(.expand):hover .visible-expanded,
.pulse-list.compact .pulse:not(.expand):hover .visible-collapsed,
.pulse-list.compact .pulse:not(.expand):hover .hidden-hover {
    display: none;
}

.pulse-list.compact .pulse:hover > .pulse-inner,
.pulse-list.compact .pulse.expand > .pulse-inner {
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
}

.pulse-list.compact .pulse:hover .pulse-content,
.pulse-list.compact .pulse.expand .pulse-content {
    height: auto;
}

.pulse-list .pulse:hover {
    z-index: 5;
	cursor: pointer;
	background: #EEE;
}

.pulse-list .pulse.expand {
    z-index: 10;
	cursor: default;
	background: white;
	margin: 5px;
    padding: 0;
}

.pulse-list .pulse:hover > .pulse-inner {
	border-color: #ECECEC;
}

.pulse-list .pulse.expand > .pulse-inner{
	border-color: #EFEFEF;
}

.pulse-list .pulse.expand:hover > .pulse-inner {
	border-color: #E0E0E0;
}


/* Pulse Meta */
.pulse-meta {
	font-size: 80%;
    line-height: 16px;
}

.pulse-timestamp {
    float: right;
    width: 45px;
    text-align: right;
}

.pulse-rating {
    float: right;
}

.pulse-meta .pulse-rating .evaluate-wrapper {
    padding-left: 5px;
}

.pulse-meta .evaluate-wrapper .evaluate-shell {
    display: inline-block;
    margin: 0;
}

.pulse-meta .evaluate-wrapper .rating-text,
.pulse-meta .evaluate-wrapper .rate-name {
    display: none;
}

.pulse-meta .rate-range {
    margin: 0;
}


/* Pulse Actions */
.pulse-actions {
	display: none;
}

.pulse-list .pulse-actions {
	display: block;
}

.pulse-actions ul {
	overflow: hidden;
	margin: 0;
}

.pulse-actions ul li {
	margin: 0 5px 0 0;
    padding: 0;
	float: left;
}


/* Pulse Tags */
.pulse-tags {
	background: url(../img/sprite.gif) no-repeat 0 -65px;
	padding: 0 0 0 20px;
	margin: 0;
}


/* Pulse Authors */
.pulse-authors {
    margin-bottom: 5px;
    height: 36px;
}

.pulse-authors ul {
    display: block;
}

.pulse-authors ul li {
    float: left;
    list-style: none;
    padding: 0;
    opacity: 0.5;
    position: relative;
    margin: 0 1px;
}

.pulse-authors li:hover {
    opacity: 1.0;
}

.pulse-author a small {
	display: none;
	font-weight: normal;
}

.pulse-author a:hover small {
	display: inline;
}

.pulse-author-addendum {
    z-index: 10;
    line-height: 12px;
    position: absolute;
    white-space: nowrap;
    display: none;
    
    background: white;
    padding: 2px;
}

.pulse-author:hover .pulse-author-addendum {
    display: inline-block;
}

.pulse-avatar {
    float: left;
    position: relative;
}

.pulse-avatar-stack {
    position: absolute;
    top: 2px;
    left: 1px;
    width: 30px;
    height: 30px;
}


/* Only display the top three avatars */
.pulse-avatar-stack > .pulse-avatar-stack > .pulse-avatar-stack > .pulse-avatar-stack {
    display: none;
}
