/* Widget */
.widget_pulse_cpt h1 {
    margin-bottom: 0;
}

.widget_pulse_cpt .postbox-placeholder,
.widget_pulse_cpt .postbox {
    margin-top: 10px !important;
}

.archive .widget_pulse_cpt > .postbox-placeholder,
.archive .widget_pulse_cpt > .postbox {
    display: none !important;
}

.pulse-widget-title-suffix {
    color: darkgrey;
}

/* Pulse List Actions */
.pulse-list-actions {
    margin-top: 3px;
    text-align: right;
}

.pulse-list-filter {
    margin-right: 7px;
    margin-bottom: 3px;
    display: inline-block;
}

.pulse-list-filter select {
    border: none;
    background: #EEE;
    
}

.pulse-list-filter select:focus {
    outline: none;
}

/**
 * This is a hack to only target webkit browsers (Safari and Chrome)
 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .pulse-list-filter select {
        -webkit-appearance: none;
        background-image: url(../img/dropdown.png);
        background-repeat: no-repeat;
        background-position: right;
        padding-right: 16px;
        background-color: #EEE;
    }
    
    .pulse-list-filter select:hover {
        background-color: #DDD;
    }
    
    .pulse-list-filter.show select {
        width: 68px;
    }
    
    .pulse-list-filter.sort select {
        width: 95px;
    }
}

.pulse-list-filter label {
    color: lightgray;
}


/* Pulse List */
.pulse-list .pulse:hover {
	cursor: pointer;
	background: #EEE;
	border: 1px solid #ECECEC;
}

.pulse-list .pulse.expand {
	background: #FFF;
	cursor: default;
	border: 1px solid #EFEFEF;
	margin: 5px;
}

.pulse-list .pulse.expand:hover {
	border-color: #E0E0E0;
}


/* Pulse List Pagination */
.pulse-pagination {
    margin-top: 3px;
    text-align: center;
}

.pulse-pagination > ul {
    display: inline-block;
    margin: 0;
}

.pulse-pagination > ul > li {
    display: inline;
}

.pulse-pagination > ul > li > * {
    float: left;
    width: 24px;
    padding: 4px 0;
    line-height: 14px;
    text-decoration: none;
    border: 1px solid #DDD;
    margin: 1px;
    cursor: pointer;
}

.pulse-pagination > ul > li.active > *,
.pulse-pagination > ul > li.disabled > * {
    color: #DDD;
    cursor: default;
}

.pulse-pagination > ul > li.active > * {
    color: #5DA1C1;
    border-color: #5DA1C1;
}

.pulse-pagination > ul > li:not(.disabled) > *:hover {
    color: #348AB2;
    border-color: #348AB2;
}

.pulse-pagination input {
    display: none;
}


/* Pulse */
.pulse {
	padding: 5px;
	border: 1px solid #FFF;
	border-bottom: 1px solid #ECECEC;
	margin: 0 5px;
}

.pulse .postbox {
    margin-top: 8px !important;
}

.pulse-content {
    word-wrap: break-word;
}

.widget .pulse-content .evaluate-metrics-wrapper {
    display: none;
}

.pulse-wrap {
	margin-left: 36px;
}

.widget_pulse_cpt .pulse-wrap ul {
	margin: 0;
}

.pulse .pulse-wrap > .avatar {
	float: left;
}

.pulse .pulse-wrap > .avatar,
.pulse-actions,
.pulse-expand-content {
    margin-left: -36px;
}

.pulse .pulse .reply-to {
    display: none;
}

.pulse-replies {
    margin-left: 5px;
}

.pulse-more-replies {
	padding: 3px 5px;
	border-bottom: 1px solid #ECECEC;
	margin: 0 5px;
    display: block;
    text-decoration: none;
}

.pulse-expand-content .pulse:first-child {
    margin-top: 8px;
}

.pulse-meta {
	font-size: 11px;
}

.pulse-timestamp {
    float: right;
    width: 45px;
    text-align: right;
}

.pulse-rating {
    float: right;
}

.pulse-meta .pulse-rating .evaluate-wrapper {
    padding-left: 5px;
}

.pulse-meta .evaluate-wrapper .evaluate-shell {
    display: inline-block;
    margin: 0;
}

.pulse-meta .evaluate-wrapper .rating-text,
.pulse-meta .evaluate-wrapper .rate-name {
    display: none;
}

.pulse-meta .rate-range {
    margin: 0;
}

.pulse-meta .no-rating {
    font-size: 80%;
}

.pulse-meta a,
.pulse-actions a,
.pulse-author a {
	text-decoration: none;
}

.pulse-author {
    display: inline-block;
    min-width: 50%;
    font-size: 13px;
}

.pulse-author a small {
	display: none;
}

.pulse-author a:hover small {
	display: inline;
	font-weight: normal;
}

.pulse.expand > .pulse-wrap > .pulse-expand-content {
	display: block;
}

.pulse-list .pulse-expand-content {
	display: none;
}

.pulse,
.pulse-footer,
.pulse-footer-action,
.pulse-comments-intro {
	position: relative;
	overflow: hidden;
}

.pulse-footer-action,
.pulse-comments-intro {
	float: left;
}

.pulse-tags {
	background: url(../img/sprite.gif) no-repeat 0 -65px;
	padding: 0 0 0 20px;
}

.pulse-co-authors,
.pulse-co-authors li,
.pulse-actions ul li,
.pulse-tags li {
	list-style: none;
	display: inline;
	font-size: 11px;
}

.pulse-tags,
.pulse-actions ul,
.pulse-co-authors {
	margin: 0;
}

.pulse-actions ul {
	overflow: hidden;
}

.pulse-actions ul li {
	margin: 0 5px 0 0;
	float: left;
}

.posted-with {
	color: #999;
}

.pulse-form-progress {
	position: relative;
    top: 2px;
}

.pulse-form-progress.hide {
	display: none;
}

/* Pulse Actions */
.pulse-actions {
	display: none;
}

.pulse-list .pulse-actions {
    margin-top: -20px;
    position: relative;
    top: 5px;
}

.pulse-list .pulse.expand > .pulse-wrap > .pulse-actions,
.pulse-list .pulse:hover > .pulse-wrap > .pulse-actions {
	display: block;
}

.pulse-widget-warning {
    padding: 5px;
}

.error {
    color: darkred;
}

/* Evaluate Popover */
.pulse-popover button {
    float: right;
    margin: 2px;
    margin-right: 0;
}

.pulse-popover textarea {
    resize: none;
}